* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

:root {
  --line-border-fill: #3498db;
  --line-border-empty: #e0e0e0;
}

.header-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

i {
  color: #fff;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons i {
  font-size: 2rem;
}

.header-icons a:hover i {
  animation: translateY 0.8s infinite alternate;
  color: #FDD23C;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid #fff;
  padding: 8px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  transition: background-color 0.8s;
}

.header-button:hover {
  border: 1px solid #e3bd36;
  background-color: #e3bd36;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  width: 35%;
}

@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 34px;
  }
  .header-logo img {
    width: 250%;
    margin-top: 46px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bg-home {
  position: relative;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("./assets/bg.jpg");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.3;
}

.hero {
  color: #fff;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1{
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 76px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.hero video {
  width: 50%;
  height: 50%;
}

.hero-img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 25px;
}

.button-contact {
  padding: 14px 28px;
  color: #fff;
  background-color: #e3bd36;
  border: 0;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 600;
  margin: 14px 0;
}

.button-contact:disabled {
  background-color: #fddf76;
  cursor: default;
}

.button-contact:not([disabled]):hover {
  animation: scaleButton 0.8s alternate infinite;
  background-color: #fddf76
}
/* PROGRESS BAR SECTION */

#progress {
  position: relative;
  margin-bottom: 80px;
  width: 800px;
}

#progress-bar {
  position: absolute;
  background: #fdd23c;
  height: 5px;
  width: 28%;
  top: 50%;
  left: 0;
}

#progress-num {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#progress-num::before {
  content: "";
  background-color: lightgray;
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  z-index: -1;
}

#progress-num .step {
  color: white;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  text-align: center;
  align-items: center;
  font-size: 18px;
  position: relative;
  z-index: 1;
}

#progress-num .step.inactive {
  filter: grayscale(100%);
}



@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .hero p {
    font-size: 14px;
  }
  #progress-num .step {
    font-size: 12px;
    width: 50px;
    height: 50px;
  }

  .hero video {
    width: 320px;
    height: 240px;
  }
  .hero-img {
    width: 320px;
    height: 240px;
    object-fit: cover;
    border-radius: 25px;
  }
}
@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
}
.about {
  background-color: #06121e;
  overflow: hidden;
  color: #fff;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 14px 64px 14px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.about-description h2 {
  font-size: 38px;
  margin-bottom: 24px;
}
.about-description p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
}
.services {
  background-color: #fff;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services i {
  color: #06121e;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 0;
  gap: 24px;
  color: #fff;
}

.footer-icons {
  display: flex;
  gap: 8px;
  color: #fff;
}

body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121e;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

#donate-form input[type="submit"] {
  background: #fdd23c;
  border: 1px solid #fdd23c;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  height: 2rem;
  margin-top: 25px;
}

#donate-form input[type="submit"]:hover {
  background: #fdd23c;
  border: 1px solid #fdd23c;
}

#donate-form {
  width: 60%;
  margin-top: 50px;
}

.flex-form {
  display: flex;
  border-radius: 25px;
  padding: 5px;
  background-color: whitesmoke;
}

.flex-form > * {
  margin-left: 15px;
  font-size: 1.3rem;
  text-align: center;
  background-color: whitesmoke;
}

.flex-form input {
  border: none;
  padding: 0 0 0 10;
}
@media screen and (max-width: 768px) {
  #donate-form {
    width: 100%;
  }
  .flex-form input {
    font-size: 0.8rem;
  }
}

.downloads {
  text-align: center;
  background-color: whitesmoke;
  padding: 50px 0 50px 0;
}

.download-container {
  padding-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  margin-top: 14px;
}

.card i {
  font-size: 5rem;
  color: #fdd23c;
}

.card li {
  text-align: start;
  padding-top: 10px;
}

.card h3 {
  text-align: start;
}

.card ul {
  padding-bottom: 50px;
  list-style-type: none;
}

.card {
  padding: 50px;
  border-radius: 25px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
  .download-container {
    flex-direction: column;
    gap: 50px;
    padding: auto;
    align-items: center;
  }

  .downloads {
    margin: 0;
    justify-content: center;
  }

  .hero {
    text-align: center;
  }
}
